@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html, body {
    height: 100%;
}

html {
    background-color: #f0f0f1;
}

body {
    display: flex;
    flex-direction: column;
}

p-dialog,
p-paginator {
    font-family: "Inter", sans-serif !important;
}

p-paginator {
    width: 100%;
}

.p-menu-end {
    margin-top: auto;
}

.p-menu {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}  

ul.p-menu-list {
    height: 100%;
}

li.p-menu-item:last-of-type {
    margin-top: auto;
}

.p-dialog-mask.p-overlay-mask.p-overlay-mask-enter.ng-star-inserted {
    z-index: 9999999 !important;
}